kind: Deployment
apiVersion: apps/v1
metadata:
  name: portfolio-deployment
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio
        image: anurag904/portfolio:latest
        ports:
        - containerPort: 3000
